#main-navbar {
  background-color: rgb(69, 150, 109);
  overflow: hidden;
}
#navbar-container {
  float: left;
  width: 100%;
  position: relative;
}
#main-navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}
#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}
#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}
#main-navbar ul li a:hover {
  background-color: #000;
}
#onpage {
  background-color: #000;
}

h1 {
  text-align: center;
  font-family: "Tilt Neon", cursive;
  color: black;
  transition: transform 1500ms ease;
}

h1:hover {
  transform: scale(1.8);
}

h2 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

p {
  font-size: 1.2em;
}

body {
  background-color: beige;
}

.indexWrap {
  width: 1000px;
  margin: auto;
}

.miscWrap {
  margin: auto;
  width: 90%;
}

.msWrap {
  margin: auto;
  width: 100%;
}

#contact {
  margin-top: 2%;
  float: left;
  width: 47%;
}

#edu {
  margin-top: 2%;
  float: right;
  width: 45%;
  padding-bottom: 7.43%;
  position: relative;
  left: 36px;
  margin-bottom: 2.5%;
}

#exp,
#projects,
#skills {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 2.5%;
}

section {
  border: 8px solid;
  padding: 10px;
  border-image: repeating-linear-gradient(
      to bottom right,
      #33475b,
      #0033cc,
      #ff77cc,
      rgb(255, 122, 89)
    )
    20;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/*Interest 1 page */

#msSection {
  border: none;
  box-shadow: none;
}

#summary {
  padding-top: 1%;
  text-align: center;
}

#alo {
  width: 50%;
  float: left;
  margin-right: 2%;
  text-align: left;
  padding: 1.5%;
  border: 8px solid;
  padding: 10px;
  border-image: repeating-linear-gradient(
      to bottom right,
      #33475b,
      #0033cc,
      #ff77cc,
      rgb(255, 122, 89)
    )
    20;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#eagle img {
  width: auto;
  height: 250px;
}

#jag img {
  width: auto;
  height: 300px;
}

#imageSec figure {
  text-align: center;
}

#imageSec figcaption {
  text-align: center;
}

#imageSec {
  border: none;
  box-shadow: none;
  float: right;
  width: 42%;
}

#proto {
  text-align: center;
  float: left;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 8px solid;
  padding: 10px;
  border-image: repeating-linear-gradient(
      to bottom right,
      #33475b,
      #0033cc,
      #ff77cc,
      rgb(255, 122, 89)
    )
    20;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

iframe {
  width: 80%;
  height: 510px;
  box-shadow: rgba(46, 162, 240, 0.4) 5px 5px,
    rgba(37, 114, 255, 0.377) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px,
    rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
  margin-bottom: 3%;
  margin-left: 5%;
}

/*Other Interests page */

#d2Img img {
  width: auto;
  height: 200px;
}

#d2Img {
  text-align: center;
}

#acImg img {
  width: auto;
  height: 250px;
  margin: auto;
}

#acImg {
  text-align: center;
}

#videoGames {
  float: left;
  border: none;
  box-shadow: none;
}

#d2Sec {
  float: left;
  width: 40%;
  padding-left: 1%;
  padding-right: 1%;
  margin-left: 1%;
}

#simSec {
  float: right;
  width: 50%;
  margin-top: 17%;
  padding-left: 2%;
  padding-right: 2%;
}

#musicSec {
  float: left;
  width: 75%;
  margin-top: 1%;
  margin-bottom: 3%;
  margin-left: 4%;
  padding-left: 3%;
  padding-right: 3%;
}

/*1st css media query
  For mobile-friendliness*/
@media screen and (max-width: 768px) {
  .mobile {
    background-color: #757575;
  }
  .indexWrap {
    width: 84%;
  }
  #contact {
    width: 100%;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 2%;
  }
  #edu {
    width: 100%;
    margin-left: auto;
    position: relative;
    left: 36px;
    text-align: center;
    font-size: 0.8em;
  }
  #projects,#exp{
    font-size: 0.8em;
  }
  #skills {
    margin-bottom: 5%;
    font-size: 0.75em;
  }
}

/*2nd css media query
for tablets*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .mobile {
    background-color: #68a9b9;
  }
  .indexWrap {
    width: 84%;
  }
  #contact {
    width: 100%;
    text-align: center;
    margin-bottom: 1%;
  }
  #edu {
    width: 100%;
    margin-left: auto;
    position: relative;
    left: 36px;
    text-align: center;
  }
  #skills {
    margin-bottom: 5%;
    font-size: .9em;
  }
}

#googleMap{
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 95%;
  height: 650px;
  border: 8px solid;
  border-image: repeating-linear-gradient(
      to bottom right,
      #33475b,
      #0033cc,
      #ff77cc,
      rgb(255, 122, 89)
    )
    20;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}